#divMain {
    min-height: calc(100vh - 56px - 120px);
    overflow: hidden;
}
.dishesParametersImage, .basketImage, .profileImage, .parametersImage, .crossImage {
    height: 30px;
    width: 30px;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: inline-block;
}
.dishesParametersImage, .parametersImage{
    background-image: url(/assets/img/parameters.png);
}
.profileImage {
    background-image: url(/assets/img/user.png);
}
.basketImage {
    background-image: url(/assets/img/basket.png);
}

.crossImage{
    background-image: url(/assets/img/cross.png);
}


.checkboxLabel {
    min-width: 100px;
}
.dishesHeader {
    text-align: left;
}
.dishesHeader > * {
    vertical-align: middle;
}
.searchForm {
    display: inline-block;
    width: 200px;
}
.searchForm > input {
    width: 200px;
}
.dishTitle {

    width: calc(100% - 400px);
    display: inline-block;
    text-align: center;

}

.scrollArea {
    overflow-y: scroll;
    border: #000000 1px solid;
    max-height: 400px;
    height: 100%;
    width: 100%;
    max-width: 350px;
    display: inline-block;
    text-align: left;
}

.userData {

    position: relative;
    border-bottom: 1px solid gray;
    margin: 5px 10px 5px 10px;
    padding-left: 5px;
}

.userDataParameters {

    position: absolute;
    right: 0;
    top: 15px;

}

.parametersMain {
    margin-top: 15px;
    text-align: center;
    padding-top: calc(50vh - 300px);
}